<!DOCTYPE html>
<html>
<head>
  <title>CtlBaseUi</title>
  <%= stylesheet_link_tag    "ctl_base_ui/application", media: "all" %>
  <%= javascript_include_tag "ctl_base_ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
