%h3 Basic Buttons
%input.button-primary{ type: "submit", value: "Primary" }
%button.button-secondary Secondary
%a.button-positive Positive
%button.button-negative Negative
%button.button-primary{disabled: true} Disabled
%h3 Buttons with icons
- all_icons.each do |icon|
  %button{class: "button-primary-with-icon-#{icon}"}= "primary button with #{icon}"
