%h3 Basic Buttons
%p basic button descriptions
%br
%input.button-primary{ type: "submit", value: "Primary" }
%button.button-secondary Secondary
%a.button-positive Positive
%button.button-negative Negative
%button.button-primary{disabled: true} Disabled
%h3 Buttons with icons
%p buttons with icons
%br
%button.button-primary-with-icon-plus primary button with plus
