.lipstick-red
  Lipstick Red

.dark-red
  Dark red

.dark-blue
  Dark Blue

.sky-blue
  Sky Blue

.lime
  Lime

.yellow
  Yellow

.ctl-dark-green
  CenturyLink Dark Green

.light-grey
  Light Grey

.medium-grey
  Medium Grey

.warm-grey
  Warm Grey

.dark-grey
  Dark Grey
