.lipstick-red
  Lipstick Red #E41741

.dark-red
  Dark red #D90000

.dark-blue
  Dark Blue #1C6D95

.sky-blue
  Sky Blue #229FE5

.lime
  Lime #83BB45

.green
  Green #699C48

.yellow
  Yellow #FFEEC0

.orange
  Orange #F89838

.ctl-dark-green
  CenturyLink Dark Green #128745

.ctl-light-green
  CenturyLink Light Green #8EC643

.light-grey
  Light Grey #F1F1F1

.medium-grey
  Medium Grey #AAAAAA

.warm-grey
  Warm Grey #9A9A8C

.dark-grey
  Dark Grey #777777
