.icon-plus
  plus icon
.details
  %h4 In the wild:
  %p This may be used for an add button.

.icon-minus
  minus icon
.icon-x
  x icon
.icon-sprocket
  sprocket icon
.details
  %h4 In the wild:
  %p This may be used for settings and could be mixed into a link with a class of "manage-settings"
.icon-arrowloop
  arroowloop icon
.details
  %h4 In the wild:
  %p refresh
.icon-checkmark
  checkmark icon
.icon-document
  document icon
.icon-magnifying-glass
  magnifying glass icon
.icon-pencil
  pencil icon
.icon-outbox
  outbox icon
.icon-grid
  grid icon
.icon-envelope
  envelope icon
.icon-list
  list icon
.icon-folder
  folder icon
.icon-menu
  menu icon
.icon-house
  house icon
.icon-star
  star icon
.icon-thin-arrow-right
  thin arrow right icon
.icon-thick-arrow-right
  thick arrow right icon
.icon-magnifying-glass-minus
  magnfiying glass minus icon
.icon-magnifying-glass-plus
  magnfiying glass plus icon
