.notice-success
  %a.dismiss dismiss
  %strong This is a success message.
  with some additional content.

.notice-default
  %a.dismiss dismiss
  %strong This is a general message.
  %br
  with some additional content after a line break.

.notice-warning
  %a.dismiss dismiss
  %strong This is a warning message.
  %br
  with some additional content after a line break.

.notice-danger
  %a.dismiss dismiss
  %strong This is an error/danger message.
  with some additional content.
