.search-result-icon-box
  %span.label TEMPLATE
.search-results-item
  .search-result-icons
    .icon-star-example
      star
    .icon-checkmark-example
      check
  .search-result-text
    %h3 #{link_to('Recommended Template Name', '#')}
    %p Template description is an awesome wordpress template with other details.
    %p.microcopy Last Updated: 03/16/2014
  .search-result-image-count
    .circle-text
      %span 2 
      %p images
  .search-result-actions
    %button.button-primary-with-icon-star{disabled: true} 49
    %button.button-primary-with-icon-star{disabled: true} 3
    %br
    %a.button-positive Run Template