%h1 H1's are IMPORTANT
%p Prosciutto pork loin filet mignon jowl, turkey ball tip pancetta cow ham hock salami. Ground round jerky ribeye chuck ham corned beef. Pastrami drumstick sausage meatloaf hamburger ham spare ribs pancetta pork belly beef ribs venison tongue. Pork belly chicken venison andouille spare ribs strip steak leberkas shankle turducken. Ribeye short loin biltong cow, tenderloin tri-tip short ribs filet mignon prosciutto landjaeger doner jowl drumstick beef.
%h2 H2's are for section headings
%p Lorem ipsum dolizzle bow wow wow amizzle, break it down elizzle. Nullam sapizzle velizzle, pimpin' volutpizzle, suscipit bizzle, break yo neck, yall vel, check out this. Pellentesque eget doggy. Sed eros. Phat izzle dolizzle pimpin' turpis tempus yo mamma. Maurizzle da bomb nibh check it out turpis. Crackalackin izzle tortor. Pellentesque dope rhoncizzle . In hizzle habitasse shiz dictumst. Donec dapibizzle. Own yo' sheezy fo shizzle, pretium mammasay mammasa mamma oo sa, gizzle izzle, eleifend fizzle, nunc. Funky fresh suscipizzle. Mah nizzle mammasay mammasa mamma oo sa black sizzle dizzle.
%h3 #{link_to('Headings like this H3 can even have links', '#')}
%p Fap vegan trust fund hashtag before they sold out, master cleanse 8-bit art party Banksy plaid kale chips. Ugh bespoke next level 8-bit Wes Anderson mustache. Church-key Schlitz flexitarian leggings Williamsburg, Banksy Bushwick Pitchfork hoodie American Apparel. Quinoa +1 freegan, XOXO try-hard ugh occupy paleo mumblecore cray PBR&B fingerstache. Blog Pinterest McSweeney's cornhole, tattooed photo booth chambray artisan. IPhone normcore swag hashtag. 90's Portland tofu, polaroid readymade hella put a bird on it kitsch chia pug.
%h4 H4's pair well with beer
%p caramel malt noble hops keg yeast yeast mead fermentation; hydrometer. cask conditioning lambic sour/acidic biere de garde mouthfeel? bottom fermenting yeast gravity hefe carboy becher dunkle bunghole mash dunkle-- craft beer wort. hand pump noble hops berliner weisse ipa, " bottom fermenting yeast ibu bacterial." finishing hops craft beer ester wort bottom fermenting yeast berliner weisse specific gravity.
%h5 There's something fishy about people that use H5 tags
%p Chimaera dusky grouper woody sculpin paradise fish, golden loach, orbicular batfish sind danio wallago redside four-eyed fish. Mozambique tilapia daggertooth pike conger spookfish cutlassfish bullhead zebra pleco North Pacific daggertooth Redfish freshwater eel half-gill desert pupfish. Southern smelt dogfish shark blue eye slickhead squeaker grunt glassfish, longnose dace mudminnow gunnel prowfish skilfish. Giant wels cutthroat eel bonytongue tommy ruff, "yellowbelly tail catfish barbeled dragonfish oilfish."
%h6 Samuel L Jackson doesn't like H6 tags
%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
%p.microcopy Exmaple of microcopy
%a{ href: 'http://google.com' } A hyperlink
%br/
%br/
%a.title{ href: 'http://google.com' } A title-ized hyperlink
