$lipstick_red   : #E41741;
$dark_red       : #D90000;
$dark_blue      : #1C6D95;
$sky_blue       : #229FE5;
$lime           : #83BB45;
$yellow         : #FFEFC0;
$ctl_dark_green : #128745;
$ctl_light_green: #8EC643;
$orange         : #F89838;
$white          : #FFFFFF;
$grey           : #787878;
$light_grey     : #F1F1F1;
$medium_grey    : #AAAAAA;
$warm_grey 	    : #9A9A8C;
$dark_grey      : #777777;
$green          : #699648;