@import 'colors';
@import 'mixins';
@import 'icons';

.button-primary {
  display: inline-block;
  @include border-radius(0.3em);
  border: 0;
  min-width: 10em;
  padding: 16px 20px;
  background-color: $dark_blue;
  color: $white;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  &:hover {
    @include box-shadow(0, 0, 5px, rgba( $dark_blue, 0.6 ));
    background-color: lighten( $dark_blue, 20% );
    transition: background-color 0.25s ease;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    background-color: $light_grey;
    color: $medium_grey;

    &:hover {
      @include box-shadow(0, 0, 5px, rgba( $dark_blue, 0.0 ));
      cursor: not-allowed;
    }
  }
}

a.button-primary {
  @extend .button-primary;
  padding: 1.2em 0em;
}

.button-secondary {
  @extend .button-primary;
  background-color: $dark_grey;

  &:hover {
    @extend .button-primary;
    @include box-shadow(0, 0, 5px, rgba( $dark_grey, 0.6 ));
    background-color: darken( $dark_grey, 15% );
  }
}


.button-positive {
  @extend .button-primary;
  background-color: darken( $lime, 20% );

  &:hover {
    @extend .button-primary;
    @include box-shadow(0, 0, 5px, rgba( $ctl_dark_green, 0.6 ));
    background-color: $lime;
  }
}

.button-negative {
  @extend .button-primary;
  background-color: $dark_red;

  &:hover {
    @extend .button-primary;
    @include box-shadow(0, 0, 5px, rgba( $dark_red, 0.6 ));
    background-color: darken( $dark_red, 10% );
  }
}
