@import 'colors';
@import 'icons';
@import 'mixins';

.ui-dialog {
  background-color: $white;
  border: 1px solid #444;
  max-width: 860px;
  height: 570px;
  @include box-shadow(0, 0, 50px, #222);
  overflow: hidden;

  .ui-dialog-titlebar {
    @include border-box;
    color: $white;
    background-color: $sky_blue;
    padding: 15px 10px;
    font-weight: bold;
    cursor: move;
    height: 50px;

    .ui-dialog-title {
      @include border-box;
      width: 90%;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .ui-dialog-titlebar-close  {
      float: right;
      margin-left: 4px;
      background-color: transparent;
      border: none;
      height: 20px;
      width: 20px;
      cursor: pointer;
      @include icon-white;
      @extend .icon-x-large;
      .ui-button-text{
        display: none;
      }
    }
  }

  .ui-dialog-content {
    border: 0;
    padding: 15px 15px 0 15px;
    overflow-y: scroll;
    height: 410px;
  }

  .ui-dialog-buttonpane {
    @include border-box;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid $grey;

    .ui-dialog-buttonset {
      padding: 15px;
      overflow: hidden;

      button {
        float: right;
      }
    }
  }
}

.ui-widget-overlay.ui-front {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
}
