@import 'colors';
@import 'icons';
@import 'mixins';

.notice-default {
  padding: 1em;
  margin: .5em;
  color: $dark_grey;
  background-color: $yellow;
  overflow: auto;
  line-height: 1.5;

  a.dismiss {
    @include hide-text;
    margin-top: 0.25em;
    float: right;
    @extend .icon-x-large;
  }
}

.notice-success {
  @extend .notice-default;
  color: $white;
  background-color: $lime;

  a.dismiss {
    @include icon-white;
  }
}

.notice-warning {
  @extend .notice-success;
  color: $white;
  background-color: $orange;
}

.notice-danger {
  @extend .notice-success;
  color: $white;
  background-color: $dark_red;
}

div[class*='notice-'] {
  h1, h2 {
    font-size: 100%;
    color: white;
    font-weight: bold;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}