@import 'colors';
@import 'mixins';
@import 'icons';
@import 'buttons';


header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 2em;
  background-color: #FFF;
  border-bottom: #EBEBEB 2px solid;
  padding: 1em;
  ul {
    width: 960px;
    margin: 0 auto;
  }
}

main {
  width: 960px;
  margin: 100px auto 0;
}

section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: #EBEBEB 1px solid;
}

h2 {
  font-size: 2em;
}

/* Section Specific styles */

/* Colors */

.color-block {
  padding: 10px;
  margin: 10px 0px;
}

.lipstick-red {
  @extend .color-block;
  background-color: $lipstick_red;
}

.dark-red {
  @extend .color-block;
  background-color: $dark_red;
}

.dark-blue {
  @extend .color-block;
  background-color: $dark_blue;
}

.sky-blue {
  @extend .color-block;
  background-color: $sky_blue;
}

.lime {
  @extend .color-block;
  background-color: $lime;
}

.green {
  @extend .color-block;
  background-color: $green;
}

.yellow {
  @extend .color-block;
  background-color: $yellow;
}

.orange {
  @extend .color-block;
  background-color: $orange;
}

.ctl-dark-green {
  @extend .color-block;
  background-color: $ctl_dark_green;
}

.ctl-light-green {
  @extend .color-block;
  background-color: $ctl-light-green;
}

.light-grey {
  @extend .color-block;
  background-color: $light_grey; 
}

.medium-grey {
  @extend .color-block;
  background-color: $medium_grey; 
}

.warm-grey {
  @extend .color-block;
  background-color: $warm_grey; 
}

.dark-grey {
  @extend .color-block;
  background-color: $dark_grey; 
}

/* Icons */

.example-icon {
  padding-left: 1.5em;
  margin: 1em 0 0.5em;
}

.icon-plus-example {
  @extend .icon-plus;
  @extend .example-icon;
}

.icon-minus-example {
  @extend .icon-minus;
  @extend .example-icon;
}

.icon-x-example {
  @extend .icon-x;
  @extend .example-icon;
}

.icon-sprocket-example {
  @extend .icon-sprocket;
  @extend .example-icon;
}

.icon-arrowloop-example {
  @extend .icon-arrowloop;
  @extend .example-icon;
}

.icon-checkmark-example {
  @extend .icon-checkmark;
  @extend .example-icon;
}

.icon-document-example {
  @extend .icon-document;
  @extend .example-icon;
}

.icon-magnifying-glass-example {
  @extend .icon-magnifying-glass;
  @extend .example-icon;
}

.icon-pencil-example {
  @extend .icon-pencil;
  @extend .example-icon;
}

.icon-outbox-example {
  @extend .icon-outbox;
  @extend .example-icon;
}

.icon-grid-example {
  @extend .icon-grid;
  @extend .example-icon;
}

.icon-envelope-example {
  @extend .icon-envelope;
  @extend .example-icon;
}

.icon-list-example {
  @extend .icon-list;
  @extend .example-icon;
}

.icon-folder-example {
  @extend .icon-folder;
  @extend .example-icon;
}

.icon-menu-example {
  @extend .icon-menu;
  @extend .example-icon;
}

.icon-house-example {
  @extend .icon-house;
  @extend .example-icon;
}

.icon-star-example {
  @extend .icon-star;
  @extend .example-icon;
}

.icon-thin-arrow-right-example {
  @extend .icon-thin-arrow-right;
  @extend .example-icon;
}

.icon-thick-arrow-right-example {
  @extend .icon-thick-arrow-right;
  @extend .example-icon;
}

.icon-magnifying-glass-plus-example {
  @extend .icon-magnifying-glass-plus;
  @extend .example-icon;
}

.icon-magnifying-glass-minus-example {
  @extend .icon-magnifying-glass-minus;
  @extend .example-icon;
}

/* Buttons */

.button-primary-with-icon-plus {
  @extend .button-primary;
  @extend .icon-plus-for-button;
  padding-left: 4em;
}

.button-primary-with-icon-minus {
  @extend .button-primary;
  @extend .icon-minus-for-button;
  padding-left: 4em;
}
