@import 'colors';
@import 'mixins';
@import 'icons';
@import 'buttons';


header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 2em;
  background-color: #FFF;
  border-bottom: #EBEBEB 2px solid;
  padding: 1em;
  ul {
    width: 960px;
    margin: 0 auto;
  }
}

main {
  width: 960px;
  margin: 150px auto 0;
}

section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: #EBEBEB 1px solid;
}

h2 {
  font-size: 2em;
}

/* Section Specific styles */

/* Colors */

.color-block {
  padding: 10px;
  margin: 10px 0px;
}

.lipstick-red {
  @extend .color-block;
  background-color: $lipstick_red;
}

.dark-red {
  @extend .color-block;
  background-color: $dark_red;
}

.dark-blue {
  @extend .color-block;
  background-color: $dark_blue;
}

.sky-blue {
  @extend .color-block;
  background-color: $sky_blue;
}

.lime {
  @extend .color-block;
  background-color: $lime;
}

.green {
  @extend .color-block;
  background-color: $green;
}

.yellow {
  @extend .color-block;
  background-color: $yellow;
}

.orange {
  @extend .color-block;
  background-color: $orange;
}

.ctl-dark-green {
  @extend .color-block;
  background-color: $ctl_dark_green;
}

.ctl-light-green {
  @extend .color-block;
  background-color: $ctl-light-green;
}

.light-grey {
  @extend .color-block;
  background-color: $light_grey;
}

.medium-grey {
  @extend .color-block;
  background-color: $medium_grey;
}

.warm-grey {
  @extend .color-block;
  background-color: $warm_grey;
}

.dark-grey {
  @extend .color-block;
  background-color: $dark_grey;
}

/* Icons */

.example-icon {
  padding-left: 1.5em;
  margin: 1em 0 0.5em;
}

@each $icon, $position in $icons {
  .icon-#{$icon}-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
  }

  .icon-#{$icon}-green-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-green;
  }

  .icon-#{$icon}-blue-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-blue;
  }

  .icon-#{$icon}-red-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-red;
  }

  .icon-#{$icon}-light-blue-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-light-blue;
  }

  .icon-#{$icon}-light-green-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-light-green;
  }

  .icon-#{$icon}-light-grey-example {
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-light-grey;
  }

  .icon-#{$icon}-white-example {
    background-color: $light_grey;
    @extend .icon-#{$icon};
    @extend .example-icon;
    @include icon-white;
  }
}

/* Buttons */

@each $icon, $position in $icons {
  .button-primary-with-icon-#{$icon} {
    @extend .button-primary;
    @extend .icon-#{$icon}-for-button;
    padding-left: 4em;
  }
}
