@import 'colors';
@import 'mixins';
@import 'icons';


header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 2em;
  background-color: #FFF;
  border-bottom: #EBEBEB 2px solid;
  padding: 1em;
  ul {
    width: 960px;
    margin: 0 auto;
  }
}

main {
  width: 960px;
  margin: 100px auto 0;
}

section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: #EBEBEB 1px solid;
}

h2 {
  font-size: 2em;
}

/* Section Specific styles */

/* Colors */

.color-block {
  padding: 10px;
  margin: 10px 0px;
}

.lipstick-red {
  @extend .color-block;
  background-color: $lipstick_red;
}

.dark-red {
  @extend .color-block;
  background-color: $dark_red;
}

.dark-blue {
  @extend .color-block;
  background-color: $dark_blue;
}

.sky-blue {
  @extend .color-block;
  background-color: $sky_blue;
}

.lime {
  @extend .color-block;
  background-color: $lime;
}

.yellow {
  @extend .color-block;
  background-color: $yellow;
}

.ctl-dark-green {
  @extend .color-block;
  background-color: $ctl_dark_green;
}

.light-grey {
  @extend .color-block;
  background-color: $light_grey; 
}

.medium-grey {
  @extend .color-block;
  background-color: $medium_grey; 
}

.warm-grey {
  @extend .color-block;
  background-color: $warm_grey; 
}

.dark-grey {
  @extend .color-block;
  background-color: $dark_grey; 
}

/* Icons */

.example-icon {
  padding-left: 1.5em;
  margin: 1em 0 0.5em;
}

.icon-plus {
  @include icon-plus;
  @extend .example-icon;
}

.icon-minus {
  @include icon-minus;
  @extend .example-icon;
}

.icon-x {
  @include icon-x;
  @extend .example-icon;
}

.icon-sprocket {
  @include icon-sprocket;
  @extend .example-icon;
}

.icon-arrowloop {
  @include icon-arrowloop;
  @extend .example-icon;
}

.icon-checkmark {
  @include icon-checkmark;
  @extend .example-icon;
}

.icon-document {
  @include icon-document;
  @extend .example-icon;
}

.icon-magnifying-glass {
  @include icon-magnifying-glass;
  @extend .example-icon;
}

.icon-pencil {
  @include icon-pencil;
  @extend .example-icon;
}

.icon-outbox {
  @include icon-outbox;
  @extend .example-icon;
}

.icon-grid {
  @include icon-grid;
  @extend .example-icon;
}

.icon-envelope {
  @include icon-envelope;
  @extend .example-icon;
}

.icon-list {
  @include icon-list;
  @extend .example-icon;
}

.icon-folder {
  @include icon-folder;
  @extend .example-icon;
}

.icon-menu {
  @include icon-menu;
  @extend .example-icon;
}

.icon-house {
  @include icon-house;
  @extend .example-icon;
}

.icon-star {
  @include icon-star;
  @extend .example-icon;
}

.icon-thin-arrow-right {
  @include icon-thin-arrow-right;
  @extend .example-icon;
}

.icon-thick-arrow-right {
  @include icon-thick-arrow-right;
  @extend .example-icon;
}

.icon-magnifying-glass-plus {
  @include icon-magnifying-glass-plus;
  @extend .example-icon;
}

.icon-magnifying-glass-minus {
  @include icon-magnifying-glass-minus;
  @extend .example-icon;
}
