@import 'colors';
@import 'mixins';
@import 'icons';
@import 'buttons';


nav {
  position: fixed;
  background-color: $light_grey;
  border-right: $medium_grey 1px solid;
  width: 280px;
  height: 100%;
  overflow: auto;

  h4 {
    margin: 0;
    padding: 10px 15px 5px;
    border-bottom: $medium_grey 1px solid;
    font-size: 16px;
    font-weight: bold;
  }

  ul li a {
    font-size: 14px;
    display: block;
    padding: 3px 15px;
  }
}

main {
  width: 960px;
  margin-left: 300px;
}

section {
  padding: 2em 0;
  border-bottom: $light_grey 1px solid;
}

h2 {
  font-size: 2em;
}

/* Section Specific styles */

/* Colors */

.color-block {
  padding: 10px;
  margin: 10px 0px;
}

.lipstick-red {
  @extend .color-block;
  background-color: $lipstick_red;
}

.dark-red {
  @extend .color-block;
  background-color: $dark_red;
}

.dark-blue {
  @extend .color-block;
  background-color: $dark_blue;
}

.sky-blue {
  @extend .color-block;
  background-color: $sky_blue;
}

.lime {
  @extend .color-block;
  background-color: $lime;
}

.green {
  @extend .color-block;
  background-color: $green;
}

.yellow {
  @extend .color-block;
  background-color: $yellow;
}

.orange {
  @extend .color-block;
  background-color: $orange;
}

.ctl-dark-green {
  @extend .color-block;
  background-color: $ctl_dark_green;
}

.ctl-light-green {
  @extend .color-block;
  background-color: $ctl-light-green;
}

.light-grey {
  @extend .color-block;
  background-color: $light_grey;
}

.medium-grey {
  @extend .color-block;
  background-color: $medium_grey;
}

.warm-grey {
  @extend .color-block;
  background-color: $warm_grey;
}

.dark-grey {
  @extend .color-block;
  background-color: $dark_grey;
}

/* Icons */

.example-icon {
  padding-left: 1.5em;
  margin: 1em 0 0.5em;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
  }
}

@each $icon, $position in $icons {
  .icon-#{$icon}-example {
    @extend .example-icon;

    &:before {
      @extend .icon-#{$icon};
    }
  }

  .icon-#{$icon}-green-example {
    @extend .example-icon;

    &:before {
      @extend .icon-#{$icon};
      @include icon-green;
    }
  }

  .icon-#{$icon}-blue-example {
    @extend .example-icon;

    &:before {
      @extend .icon-#{$icon};
      @include icon-blue;
    }
  }

  .icon-#{$icon}-red-example {
    @extend .example-icon;

    &:before {
      @extend .icon-#{$icon};
      @include icon-red;
    }
  }

  .icon-#{$icon}-light-blue-example {
    @extend .example-icon;
    &:before {
      @extend .icon-#{$icon};
      @include icon-light-blue;
    }
  }

  .icon-#{$icon}-light-green-example {
    @extend .example-icon;

    &:before {
      @extend .icon-#{$icon};
      @include icon-light-green;
    }
  }

  .icon-#{$icon}-light-grey-example {
    @extend .example-icon;
    &:before {
      @include icon-light-grey;
      @extend .icon-#{$icon};
    }
  }

  .icon-#{$icon}-white-example {
    background-color: $light_grey;
    @extend .example-icon;

    &:before {
      @include icon-white;
      @extend .icon-#{$icon};
    }
  }
}

/* Buttons */

@each $icon, $position in $icons {
  .button-primary-with-icon-#{$icon} {
    @extend .button-primary;
    @extend .icon-#{$icon}-for-button;
    padding-left: 4em;
  }
}
