@import 'colors';
@import 'variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $orange;
  padding-bottom: 0.6em;
  margin-bottom: 0.6em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  color: $blue_grey;
  font-size: 2.5em;
  font-weight: 200;
  border-bottom: $grey 1px solid;
}

h2 {
  font-size: 1.3em;
  font-weight: 800;
}

h3 {
  font-size: 1.2em;
  font-weight: 800;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-size: 1.125em;
  font-weight: 400;
}

h6 {
  font-size: 0.929em;
  font-weight: 400;
}

p {
  font-size: 0.857em;
  padding: 0 0 1em 0;
  line-height: 1.7em;
}

a {
  color: $blue_grey;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}
a.title {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $dark_blue;
  }
}

.microcopy {
  color: $medium_grey;
  font-style: italic;
}

code {
  white-space: pre;
  font-family: $monospace_font_family;
  font-size: 0.9em;
}
